<html>
  <head>
    <title>Blog Test</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/yeti/bootstrap.min.css" rel="stylesheet" integrity="sha384-HzUaiJdCTIY/RL2vDPRGdEQHHahjzwoJJzGUkYjHVzTwXFQ2QN/nVgX7tzoMW3Ov" crossorigin="anonymous">
  </head>
  <body>
    <div>
      <p>집가고싶다</p>
      <p>게임하고싶다</p>
      <p>아톰으로 저장하면 한글 깨지겠지</P>
    </div>

    {% for post in posts%}
      <div>
        <h2> {{post.title}} </h2>
        <p> {{post.created_date}} </p>
        <p> {{post.text | linebreaks}} </p>
      </div>
    {% endfor %}
  </body>
</html>
